@model Gameblasts.Models.ChatMessage

<!--M책 ha signinmanager for 책 sjekke om brukeren er logget inn 
    og om brukeren har riktig rolle. -->
@inject SignInManager<ApplicationUser> SignInManager

<!--Formatet til hvordan chat meldingene skal se ut kan bli endret senere. 
    S책 lenge de ser OK ut. -->
<i><CMDate>@Model.Date</CMDate></i>
<a href="/Profile/Profile/@User.Identity.Name"><CMUser>@Model.User</CMUser></a>

<!--Bare brukere som har administrator eller moderator rollen kan se edit knappen.
    TODO: Brukere kan se edit knapp p책 sine egne meldinger. -->
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
{
    <EditButton><td>
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class ="glyphicon glyphicon-pencil"></a>
        <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id" class ="glyphicon glyphicon-remove"></a>
    </td></EditButton>
}
<br>
<CMMessage>@Model.Message</CMMessage>
<br>
<br>