<<<<<<< 7e76774358ad04c27ff3f0c4a8f92fe1854a1cee
@model Gameblasts.Models.Post
=======
@model GameBlasts.Models.Post
>>>>>>> Post view created, changes to what function in controller will come.

<form asp-controller="Post" asp-action="ShowPost" method="Get" class="form-horizontal" role="form">
    <div class="row">
        <div class ="col-sm-4" style="background-color: #808080"> 
            <h2>@Model.Title</h2>
            <p>
            @Model.User.UserName, @Model.Date
            <br>
            <br>

            @Model.Body
            </p>
        </div>
        
<<<<<<< 7e76774358ad04c27ff3f0c4a8f92fe1854a1cee
        @*@if(User.Identity.Name == @Model.User.UserName)
        {
            #<a asp-controller="Post" asp-action="EditBlogPost" asp-route-id="@Model.Id">Edit</a>
            <a asp-controller="Post" asp-action="DeleteBlogPost" asp-route-id="@Model.Id">Delete</a>
        }*@
=======
        <!--@if(User.Identity.Name == @Model.User.UserName)
        {
            #<a asp-controller="Post" asp-action="EditBlogPost" asp-route-id="@Model.Id">Edit</a>
            <a asp-controller="Post" asp-action="DeleteBlogPost" asp-route-id="@Model.Id">Delete</a>
        }-->
>>>>>>> Post view created, changes to what function in controller will come.
        
    </div>
    <div class ="row"><br></div>
</form>


    