@model IEnumerable<Gameblasts.Models.Post>

<script>
function showDiv(ID) {
    var x = document.getElementById(ID);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

 <div class="container-fluid">
        
    @foreach(var p in Model.Reverse())
    {

        @* Creates and displays individual rows for each post in a grid system. *@
        <div class="col col-md-8" id="row">
            <b> Title: </b> 
                <a asp-area="" asp-controller="Category" asp-action="OpenCategory" asp-route-id="@p.SubCategory">@p.Title</a>
            <div class="row"> </div> 
                <b> Created by: </b><a asp-area="" asp-controller="Profile" asp-action="" asp-route-id="@p.User">@p.User </a>
                <br><b> at: </b> @p.Date
                <br><br>
                <p> @p.Body</p>
                <input type="button" name="hiddenReplies" value="Toggle Replies" onclick="showDiv('@("hiddenReplies" + p.Id)')"/>
                <input type="button" name="hiddenDiv" value="Add Reply" onclick="showDiv('@("hiddenDiv" + p.Id)')"/>
                <div class="row" id="@("hiddenDiv" + p.Id)" style="display:none;"> 
                    @{ Html.RenderPartialAsync("_ReplyFormPartial", p); }
            </div> 
        </div>
        <div id="@("hiddenReplies" + p.Id)">
            <br>
            @(await Component.InvokeAsync<ViewComponents.Reply>(new Gameblasts.Models.CategoryModels.PostComponentFormModel(10, @p.Id) ))
        </div>
    }
        
</div>
