@model Gameblasts.Models.CategoryModels.CategoryModel
@using (Html.BeginForm("ForumPost", "Category"))
    {
        @Html.Hidden("id", @Model.id)
        @Html.Hidden("name", @Model.name)
        @Html.Hidden("parent", @Model.parent)
        @Html.Hidden("children", @Model.children)
        @Html.Hidden("threads", @Model.threads)
        <button type="submit" class="btn btn-default">Create a new thread</button>
    }

<div class="form-group">

@(await Component.InvokeAsync<ViewComponents.Post>(new Gameblasts.Models.CategoryModels.PostComponentFormModel(10, @Model.id) )) 

@for (int i = 0; i < Model.children.Count; i++)
{
    Html.RenderPartial("CategoryPartial/_DisplayCategory", Model.children[i]);
    @(await Component.InvokeAsync<ViewComponents.CategoryViewComponent>(new Gameblasts.Models.CategoryModels.CategoryFormModel(Model.children[i].name, Model.id)))
}

</div>

